# ignore directory files
.DS_Store

# ignore logs
*.log

# ignore classes
target/classes/*
target/maven-archiver/*
target/surefire-reports/*
target/test-classes/*

# ignore generated
thrift/gen-java/*
