<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{HH:mm:ss.SSS} %-5level %36.36logger{16} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
  	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
  		<file>template_thrift.log</file>
  		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    		<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
  		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	<logger name="com.mchange.v2.log.MLog">
    	<level value="DEBUG"/>
    	<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
  	</logger>
</configuration>